.n-wrapper {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
    background-color: rgb(188, 215, 149);
    position:fixed;
    top:0;
    width:100%;
    margin: 0px -10px;
    border-radius: 1rem;
  }
  .n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
  }
  
  .n-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.2rem;
  }
  .n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-weight: bold;
    
  }
  
  .n-list {
    flex: 10;
    font-size: 20px;
  }
  .n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  
  .n-list > ul :hover {
    color: var(--orange);
    cursor: pointer;
  }
  
  .n-button {
    flex: 2;
    padding: 5px 10px ;
    margin-right: 5rem;
    border-radius: 8px;
    background-color: rgb(157, 205, 120);
    
  }
  
  @media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
  }
  